<h1 class="text-3xl font-bold">Welcome to Jumpstart!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<h2 class="font-bold">experiment</h2>
<div class="experiment">Now is the Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae id harum numquam? Illo nulla ad sint autem sequi non sed minus laboriosam, harum, suscipit error ex alias, numquam culpa soluta!</div>
<p>...</p>
<!-- <div class="container" data-behavior="vue">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident impedit cum eligendi facere deserunt error tempora facilis aliquam sapiente, autem ducimus voluptatibus molestiae unde ut voluptas aut soluta eius quis.</p>
<app></app>
</div> -->
<%#= content_tag(:div, "" , data: {behavior: "vz"}) do %>

<p>now is the time</p>
<%# end %>

<%#= content_tag(:div, "" , data: {behavior: "vue"}) %>
<%= content_tag(:div, "" , data: {behavior: "zoom"}) %>
<%#= content_tag(:div, "" , data: {behavior: "hello"}) %>

<p>================================================================</p>
<div data-controller="hello">
    <input data-hello-target="name" type="text">Charlie</input>
    <button data-action="click->hello#greet">Greet</button>
  </div>