<h1>Editing rich photo post</h1>

<%= render "form", rich_photo_post: @rich_photo_post %>

<br>

<div>
  <%= link_to "Show this rich photo post", @rich_photo_post, class: "text-blue-500" %> |
  <%= link_to "Back to rich photo posts", rich_photo_posts_path, class: "text-blue-500" %>
</div>
